# OS
.DS_Store
Thumbs.db

# Anciens fichiers existants non utiles
*.pdf
*.doc
*.docx
*.zip
Latex/

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log
npm-debug.log*

# Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/

# Backend
backend/target/

# Env
.env
.env.*
!.env.example
